* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #222327;
    --text-color: #f0f8ff;
    --main-color: #29fd53;
}


/*Navigation styling start*/

/*
#home,
#about,
#menu,
#gallary,
#feedback,
#reviews {
    padding-top: 65px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#logo {
    font-size: 2.2em;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-image: linear-gradient(rgba(68, 196, 153, 1), rgba(255, 255, 255, 0.2));
    padding: 0px 20px;
}



nav ul {
    display: flex;
    flex: 1 1 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav_item {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
    transition: all 0.6s;
}

.nav_item:hover {
    background-image: linear-gradient(rgba(40, 152, 204, 0.7), rgba(255, 255, 255, 0));
    padding: 5px 20px 20px;
    border-radius: 5%;
    font-size: 1.5em;
}
*/
/*Navigation styling end*/


/*Gallary styling start*/

#gallary #img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.gallary_img {
    width: 455px;
    height: auto;
    transition: all 1s;
    margin: 10px 0px;
}

.gallary_img:hover {
    transform: scale(1.1);
}

/*Gallary styling end*/